* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-image: url("/src/img/login-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem;
    overflow: hidden;
    width: 100%;
}

.cont-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    left: 18rem;
    top: 3.5rem;
    width: 60rem;
    height: 40rem;
    /* background-image: url("/src/img/sign-background.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.cont-wrapper .mask {
    position: absolute;
    left: 0rem;
    width: 60rem;
    height: 40rem;
    border-radius: 20px;
    background-color: rgba(250, 248, 253, 0.7);
    opacity: 0.4;
    z-index: 1;
}

.logo {
    /* position: absolute;
    left: 50px;
    top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.logo>div h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #6D60F7;
}

.logo>div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

}

.logo>div .title {
    position: relative;
    left: -1rem;
}

.log-form {
    z-index: 2;
}

.log-form h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #6D60F7;
}

.log-form .button-group {
    margin-top: 25px;
}

.log-form .button-group button {
    transition: all 0.5s !important;
    border-radius: 25px !important;
    width: 120px;
}
.log-form .button-group button:hover {
    color: rgba(255, 255, 255, 0.562) !important;
   
}

.login-form {
    margin-top: 20px;
    background: rgba(46, 134, 217, 0.1) !important;
    border-radius: 20px;
}


@media only screen and (max-width: 1366px) {
    .cont-wrapper {
        left: 20rem;
        top: 3rem;
        padding: 2rem;
        width: 45rem;
        height: 35rem;
    }


    .cont-wrapper .mask {
        padding: 2rem;
        width: 45rem;
        height: 35rem;

    }
    .cont-wrapper .logo > div .back-img {
        width: 90% !important;
    }

}